@model Post

<div class="row">
    @if (string.IsNullOrEmpty(Model.URL))
    {
        <h2>@Model.Title</h2>
    }
    else
    {
        <h2><a href="@Model.URL">@Model.Title</a></h2>
    }
    <p>@Model.Description</p>
</div>